/* creating root variables so that we can change colors in one go when changing the theme */
:root{
    --primary:#F8F4E1;
    --secondary:#1b0a00;   
    --tri1:#d0c4a5;
    --tri2:#502901;
    --tri3: rgb(91, 70, 45);
    --red: rgb(135, 6, 6);
    --red1: red;
    --green: rgb(10, 160, 103);
    --green1: rgb(1, 91, 1);
    --blue: rgb(0, 191, 255);
    --black: black;
}
/* root variables */

/* Use font-face when we use different font which is not present in the css already */
/* creating font family - Use font-face when we use different font which is not present in the css already */

@font-face { 
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face { 
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face { 
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}
/* font family */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: aeonik;
    color: var(--primary);
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--secondary)
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 20px 40px;
    overflow: auto;
    position: absolute;
    color: #bcc8cb;
}

.allElems header{
    height: 300px;
    width: 100%;
    background-image: url('/sunsetImage.avif');
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px;
}

header .header1 h3{
    background-color: var(--secondary);
    font-style: italic;
    padding: 10px 20px;
    font-family: sans-serif;
    border-radius: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

header .header1 h2{
    font-size: 40px;
}

header .header1 h1{
    font-size: 40px;
    margin-bottom: 70px;
    /* color: black; */
}

header .header1 h4{
    font-size: 30px;
    /* color: black; */
}

header .header2 .theme{
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    /* transition: all ease 0.2s; */
}

header .header2 h2{
    margin-top: 80px;
    font-size: 40px;
    /* color: black; */
}

header .header2 h3{
    font-size: 20px;
    /* color: black; */
    font-weight: 500;
}

header .header2 h4{
    font-size: 20px;
    /* color: black; */
    font-weight: 500;
}

.allElems .allFeatures{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
}

.elem{
    /* background-color: black; */
    /* padding: 30px 40px; */
    height: 350px;
    width: 343px;
    border-radius: 10px;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px black;
            box-shadow: 0px 0px 10px black;
}

.elem h2{
    position: absolute;
    bottom: 3%;
    right: 5%;
    font-weight: 500;
    font-size: 25px;
}

.elem img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
    padding: 40px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 10%;
    padding: 10px 15px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.back:active{
    scale: .97;
}

/* toDoListFullPage */
.toDoListFullPage h2{
    font-size: 50px;
}

.toDoListFullPage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.toDoListFullPage .todo-container .addTask{
    height: 100%;
    width: 35%;
    border-radius: 20px;
    background-color: var(--tri3);
}

.toDoListFullPage .todo-container .allTask{
    height: 100%;
    width: 64%;
    border-radius: 20px;
    background-color: var(--tri3);
    scrollbar-width: none;
}

.toDoListFullPage .todo-container .addTask form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px;
}

.toDoListFullPage .todo-container .addTask form input.taskHeading{
    padding: 15px 25px;
    width: 100%;
    font-size: 25px;
    background-color: var(--secondary);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.toDoListFullPage .todo-container .addTask form textarea{
    padding: 15px 25px;
    width: 100%;
    font-size: 25px;
    background-color: var(--secondary);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    resize: vertical;
    min-height: 100px;
    max-height: 260px;
}

.toDoListFullPage .todo-container .addTask form .markImp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 20px;
    gap: 7px;
}

.toDoListFullPage .todo-container .addTask form .markImp input{
    scale: 1.5;
    cursor: pointer;
}

.toDoListFullPage .todo-container .addTask form .markImp label{
    font-size: 15px;
    cursor: pointer;
}

.toDoListFullPage .todo-container .addTask form button{
    padding: 15px 25px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri2);
    border-radius: 5px;
    font-weight: 700;
    border: none;  
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s
}

.toDoListFullPage .todo-container .addTask form button:active{
    scale: 0.97;
}

.toDoListFullPage .todo-container .allTask{
    height: 100%;
    width: 64%;
    border-radius: 20px;
    background-color: var(--tri3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px;
    overflow: auto;
}

.task{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4% 76% 20%;
    grid-template-columns: 4% 76% 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: var(--secondary);
    padding: 20px 30px ;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* your list is empty */
.allTask h4{
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 220px;
    font-size: 25px;
}

.task span{
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    background-color: var(--red1);
    color: var(--primary);
    font-size: 13px;
    padding: 1px 5px 2px 5px;
    font-weight: 500;
    border-radius: 30px;
    margin-right: 4px;
    margin-top: 4px;
}
.task span.true{
    opacity: 1;
}
.task span.false{
    opacity: 0;
}

.task details{
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
}

.task details summary{
    padding: 10px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    font-family: aeonik;
    font-size: 22px;
    margin-bottom: 5px;
    list-style: none;
    cursor: pointer;
}   

.task details p{
    font-family: aeonik;
    font-style: italic;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 15px;
    text-align: justify;
    margin-left: 10px;
}

.task button{
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding: 15px 30px;
    background-color: var(--green1);
    border: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.task button:active{
    scale: 0.97;
}


/* daily pLanner page */

.dailyPlannerFullPage .clear{
    position: absolute;
    right: 12%;
    background-color: var(--green1);
    border-radius: 10%;
    padding: 10px 15px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.dailyPlannerFullPage h2{
    font-size: 50px;
}

.dailyPlannerFullPage .day-planner{
    background-color: var(--tri2);
    height: 85%;
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: auto;
}

.dailyPlannerFullPage .day-planner .day-planner-time{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    position: relative;
    width: 49%;
    margin-bottom: 10px;
}

.dailyPlannerFullPage .day-planner .day-planner-time p{
    position: absolute;
    top: 15%;
    left: 1.5%;
    font-size: 14px;
    color: var(--tri1);
}

.dailyPlannerFullPage .day-planner .day-planner-time input{
    padding: 20px 45px 15px;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding-top: 30px;
    outline: none;
    margin-top: 7px;
}

/* motivational page */
.MotivationFullPage{
    position: relative;
}

.MotivationFullPage .quoteRefresh{
    background-color: var(--green1);
    border-radius: 10%;
    padding: 10px 15px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.motivation-full-page-container{
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.MotivationFullPage .motivation-container{
    height: 500px;
    width: 80%;
    position: relative;
    border-radius: 50px;
    top: 30px;
}

.MotivationFullPage .motivation-container::after{
    content: '';
    height: 80%;
    width: 100%;
    background: rgb(81, 45, 45);
    position: absolute;
    border-radius: 50px;
    scale: 1;
    -webkit-filter: blur(50px);
            filter: blur(50px);
    z-index: 8;
}

.motivation-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color: rgb(150, 150, 78);
    border-radius: 30px;
    padding: 15px;
    border: 3px solid black;
}

.motivation-container .motivation-wrapper img{
    position: absolute;
    right: 5%;
    top: 5%;
    height: 80px;
    opacity: 0.2;
}

.motivation-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
}

.motivation-1 h2{
    background-color: var(--secondary);
    padding: 10px 15px;
    border-radius: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
}

.motivation-2{
    padding: 10px;
    margin-top: 10px;
}

.motivation-2 h1{
    font-size: 50px;
    font-weight: 500;
    color: var(--black);
}

.motivation-3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 10px;
}

.motivation-3 h2{
    background-color: var(--secondary);
    padding: 10px 15px;
    border-radius: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
}


/* POMODORO TIMER */
.pomodoroTimerFullPage{
    position: relative;
}

.pomodoroTimerFullPage h2{
    font-size: 40px;
}

.pomodoroTimerFullPage h4{
    margin-top: 10px;
    font-size: 17px;
}

.pomodoroTimerFullPage .session{
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
            transform: translate(-50%,0);
    background-color: var(--green);
    padding: 15px 30px;
    font-size: 25px;
    border-radius: 5px;
}

.pomodoroTimerFullPage .pomo-timer{
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
}

.pomo-timer h1{
    font-size: 100px;
}

.pomo-timer button{
    background-color: var(--tri2);
    padding: 15px 40px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 5px 5px 0px black;
            box-shadow: 5px 5px 0px black;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}

.pomo-timer button:active{
    -webkit-box-shadow: 0px 0px 0px black;
            box-shadow: 0px 0px 0px black;
    color: var(--black);
}
